flows_2(Node-RED).json
[{"id":"e79e58d2.00c578","type":"tab","label":"Busstopp","disabled":false,"info":""},{"id":"1983dc3d.17be14","type":"ui_switch","z":"e79e58d2.00c578","name":"","label":"Stopp på neste bussholderplass?","tooltip":"","group":"f6d84f27.cd9e7","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"passasjerVilPå","topicType":"str","style":"","onvalue":"1","onvalueType":"str","onicon":"fa-stop-circle","oncolor":"green","offvalue":"0","offvalueType":"str","officon":"fa-stop-circle","offcolor":"red","animate":true,"className":"","x":180,"y":280,"wires":[["15e6421c.e09a7e","7888d95e.f1a2c8","480430f2.5f9b2"]]},{"id":"8ee5063e.455868","type":"mqtt out","z":"e79e58d2.00c578","name":"[Zumo] Stop","topic":"esp32/stopzumo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5fc38550.429ffc","x":1330,"y":140,"wires":[]},{"id":"3d2cab55.5748d4","type":"mqtt in","z":"e79e58d2.00c578","name":"[Busstopp 1] Er zumo her?","topic":"esp32/busstop1","qos":"2","datatype":"auto","broker":"5fc38550.429ffc","nl":false,"rap":true,"rh":0,"x":150,"y":120,"wires":[["15e6421c.e09a7e","7888d95e.f1a2c8"]]},{"id":"2531a52e.cb71aa","type":"mqtt in","z":"e79e58d2.00c578","name":"[Busstopp 2] Er zumo her?","topic":"esp32/busstop2","qos":"2","datatype":"auto","broker":"5fc38550.429ffc","nl":false,"rap":true,"rh":0,"x":150,"y":200,"wires":[["15e6421c.e09a7e","480430f2.5f9b2"]]},{"id":"15e6421c.e09a7e","type":"function","z":"e79e58d2.00c578","name":"Hvis vi skal stoppe på neste og vi passerer ett busstopp","func":"context.node = context.node || 0;\ncontext.node1 = context.node1 || 0;\ncontext.node2 = context.node2 || 0;\nif (msg.topic == \"esp32/busstop1\") {\n    context.node = msg.payload;\n}\nif (msg.topic == \"esp32/busstop2\") {\n    context.node1 = msg.payload;\n}\n\nif (msg.topic == \"passasjerVilPå\"){\n    context.node2 = msg.payload;\n}\n\nif ((context.node < 15 || context.node1 < 15) && context.node2 == \"1\"){\n    msg.payload = \"1\";\n}\nelse{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":200,"wires":[["b5c06c25.8d7d7","6cea9ec9.929ed"]]},{"id":"480430f2.5f9b2","type":"function","z":"e79e58d2.00c578","name":"Skal stoppe på stopp 2","func":"context.node = context.node || 0;\ncontext.node1 = context.node1 || 0;\nif (msg.topic == \"esp32/busstop2\") {\n    context.node = msg.payload;\n}\n\nif (msg.topic == \"passasjerVilPå\"){\n    context.node1 = msg.payload;\n}\n\nif ((context.node < 15) && context.node1 == \"1\"){\n    msg.payload = \"inne\";\n}\nelse{\n    msg.payload = \"ute\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":440,"wires":[["9fb99785.17dd78"]]},{"id":"9fb99785.17dd78","type":"ui_text","z":"e79e58d2.00c578","group":"f6d84f27.cd9e7","order":2,"width":0,"height":0,"name":"Er stoppet på stopp 2","label":"Busstopp 2","format":"{{msg.payload}}","layout":"row-spread","className":"","x":900,"y":440,"wires":[]},{"id":"7888d95e.f1a2c8","type":"function","z":"e79e58d2.00c578","name":"Skal stoppe på stopp 1","func":"context.node = context.node || 0;\ncontext.node1 = context.node1 || 0;\nif (msg.topic == \"esp32/busstop1\") {\n    context.node = msg.payload;\n}\n\nif (msg.topic == \"passasjerVilPå\"){\n    context.node1 = msg.payload;\n}\n\nif ((context.node < 15) && context.node1 == \"1\"){\n    msg.payload = \"inne\";\n}\nelse{\n    msg.payload = \"ute\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["7f1e6f30.df866"]]},{"id":"7f1e6f30.df866","type":"ui_text","z":"e79e58d2.00c578","group":"f6d84f27.cd9e7","order":2,"width":0,"height":0,"name":"Er stoppet på stopp 1","label":"Busstopp 1","format":"{{msg.payload}}","layout":"row-spread","className":"","x":900,"y":380,"wires":[]},{"id":"a3d85148.f9f19","type":"file in","z":"e79e58d2.00c578","name":"Les bankverdi","filename":"/home/pi/Desktop/Smart city/Bankkonto.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1540,"y":260,"wires":[["fd68e043.5ff8"]]},{"id":"fd68e043.5ff8","type":"change","z":"e79e58d2.00c578","name":"Gjør om til ett tall","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":260,"wires":[["b7614dd3.ec462"]]},{"id":"b7614dd3.ec462","type":"function","z":"e79e58d2.00c578","name":"Pluss på 200kr","func":"msg.payload += 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":260,"wires":[["1000ecb5.02c723"]]},{"id":"1000ecb5.02c723","type":"file","z":"e79e58d2.00c578","name":"Skriv ny bankverdi","filename":"/home/pi/Desktop/Smart city/Bankkonto.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2170,"y":260,"wires":[[]]},{"id":"b5c06c25.8d7d7","type":"function","z":"e79e58d2.00c578","name":"Endre topic til esp32/stopzumo","func":"msg.topic = \"esp32/stopzumo\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":140,"wires":[["8ee5063e.455868","84d7defb.892ed"]]},{"id":"6cea9ec9.929ed","type":"rbe","z":"e79e58d2.00c578","name":"Hvis verdien endrer seg","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1070,"y":260,"wires":[["b18532ac.641cd"]]},{"id":"b18532ac.641cd","type":"switch","z":"e79e58d2.00c578","name":"Gjør om til True / False","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1320,"y":260,"wires":[["a3d85148.f9f19"]]},{"id":"84d7defb.892ed","type":"delay","z":"e79e58d2.00c578","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":80,"wires":[["13713d8c.d434f2"]]},{"id":"fa1230e0.17a31","type":"mqtt out","z":"e79e58d2.00c578","name":"[Zumo] Stop","topic":"esp32/stopzumo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5fc38550.429ffc","x":1850,"y":80,"wires":[]},{"id":"13713d8c.d434f2","type":"function","z":"e79e58d2.00c578","name":"Endre melding i fra Stopp(1) til Start (0)","func":"if(msg.payload == \"1\"){\n    payload.msg = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":80,"wires":[["fa1230e0.17a31"]]},{"id":"f6d84f27.cd9e7","type":"ui_group","name":"Busstopp","tab":"b294396e.4f6808","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5fc38550.429ffc","type":"mqtt-broker","name":"test","broker":"http://localhost/","port":"1880","clientid":"test-client","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b294396e.4f6808","type":"ui_tab","name":"Smart city","icon":"dashboard","disabled":false,"hidden":false}]
